{% extends 'gateway/base.html' %}
{% block content %}
<h1>Alle Maschinen</h1>

<table class="table table-striped">
<thead>
    <tr>
    <th scope="col">Name</th>
    <th scope="col">Installationsdatum</th>
    <th scope="col">Hersteller</th>
    <th scope="col">Betreiber</th>
    <th scope="col">View</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
    </tr>
</thead>
<tbody>
    {% for machine in object_list %}
    <tr>
    <td>{{ machine.name }}</td>
    <td>{{ machine.installation_date }}</td>
    <td>{{ machine.manufacturer.name }}</td>
    <td>{{ machine.operator.name }}</td>
    <td><a href="{% url "gateway:machine_detail" machine.id %}">view</a></td>
    <td><a href="{% url "gateway:machine_edit" machine.id %}">edit</a></td>
    <td><a href="{% url "gateway:machine_delete" machine.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "gateway:machine_create" %}">New</a>
{% endblock %}