{% extends 'app/base.html' %}
{% block content %}
<h1 xmlns:app="http://www.w3.org/1999/xhtml">Alle Firmen</h1>

<table class="table table-striped">
<thead>
    <tr>
    <th scope="col">Name</th>
    <th scope="col">Stasse</th>
    <th scope="col">Ort</th>
        <th scope="col">PLZ</th>
    <th scope="col">View</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
    </tr>
</thead>
<tbody>
    {% for company in object_list %}
    <tr>
    <td>{{ company.name }}</td>
    <td>{{ company.street}}</td>
    <td>{{ company.ort}}</td>
    <td>{{ company.plz}}</td>
   <td><a href="{% url "app:company_detail" company.id %}">detail</a></td>
    <td><a href="{% url "app:company_edit" company.id %}">edit</a></td>
    <td><a href="{% url "app:company_delete" company.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "app:company_create" %}">New</a>
{% endblock %}