{% extends 'app/base.html' %}
{% block content %}
<h1>{{ machine.name }}</h1>

<div class="alert alert-info" role="alert">
    Was installed at <b>{{ machine.installation_date }}</b>
</div>

<div class="alert alert-info" role="alert">
    Was manufactured by <a href="{% url 'app:company_detail' machine.manufacturer.id %}">{{ machine.manufacturer.name }}</a>
</div>

<div class="alert alert-info" role="alert">
    Is operated and owned by <a href="{% url 'app:company_detail' machine.operator.id %}">{{ machine.operator.name }}</a>
</div>

<a href="{% url 'gateway:machine_list' %}">Back to all Machines</a>
{% endblock %}