{% extends 'app/base.html' %}
{% block content %}
<h1 xmlns:app="http://www.w3.org/1999/xhtml" xmlns:app="http://www.w3.org/1999/xhtml"
    xmlns:app="http://www.w3.org/1999/xhtml" xmlns:app="http://www.w3.org/1999/xhtml"
    xmlns:app="http://www.w3.org/1999/xhtml" xmlns:app="http://www.w3.org/1999/xhtml"
    xmlns:app="http://www.w3.org/1999/xhtml">Alle Maschinen</h1>

<table class="table table-striped">
<thead>
    <tr>
    <th scope="col">Name</th>
    <th scope="col">Installationsdatum</th>
    <th scope="col">Hersteller</th>
    <th scope="col">Betreiber</th>
    <th scope="col">View</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
    </tr>
</thead>
<tbody>
    {% for machine in object_list %}
    <tr>
    <td>{{ machine.name }}</td>
    <td>{{ machine.installation_date }}</td>
    <td>{{ machine.manufacturer.name }}</td>
    <td>{{ machine.operator.name }}</td>
    <td><a href="{% url "app:machine_detail" machine.machid %}">view</a></td>
    <td><a href="{% url "app:machine_edit" machine.machid %}">edit</a></td>
    <td><a href="{% url "app:machine_delete" machine.machid %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "app:machine_create" %}">New</a>
{% endblock %}