{% extends 'app/base.html' %}
{% block content %}
<h1 xmlns:app="http://www.w3.org/1999/xhtml" xmlns:app="http://www.w3.org/1999/xhtml"
    xmlns:app="http://www.w3.org/1999/xhtml" xmlns:app="http://www.w3.org/1999/xhtml"
    xmlns:app="http://www.w3.org/1999/xhtml" xmlns:app="http://www.w3.org/1999/xhtml"
    xmlns:app="http://www.w3.org/1999/xhtml">Alle Wartungen</h1>

<table class="table table-striped">
<thead>
    <tr>
    <th scope="col">Datum</th>
    <th scope="col">Beschreibung</th>
    <th scope="col">Component</th>
    </tr>
</thead>
<tbody>
    {% for maintenance in object_list %}
    <tr>
    <td>{{ maintenance.maindate }}</td>
    <td>{{ maintenance.maindescription }}</td>
    <td><a href="{% url "app:maintenance_detail" maintenance.mainid %}">view</a></td>
    <td><a href="{% url "app:maintenance_edit"  maintenance.mainid %}">edit</a></td>
    <td><a href="{% url "app:maintenance_delete"  maintenance.mainid %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "app:maintenance_create" %}">New</a>
{% endblock %}