{% extends 'app/base.html' %}
{% block content %}
<h1 xmlns:app="http://www.w3.org/1999/xhtml" xmlns:app="http://www.w3.org/1999/xhtml"
    xmlns:app="http://www.w3.org/1999/xhtml" xmlns:app="http://www.w3.org/1999/xhtml"
    xmlns:app="http://www.w3.org/1999/xhtml" xmlns:app="http://www.w3.org/1999/xhtml"
    xmlns:app="http://www.w3.org/1999/xhtml">Alle Betreiber</h1>

<table class="table table-striped">
<thead>
    <tr>
    <th scope="col">Name</th>
    <th scope="col">Firma</th>
   <!--         <th scope="col">View</th> -->
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
    </tr>
</thead>
<tbody>
    {% for operator in object_list %}
    <tr>
    <td>{{ operator.name }}</td>
    <td>{{ operator.company }}</td>
<!--    <td><a href="{% url "app:operator_detail" operator.id %}">view</a></td> -->
    <td><a href="{% url "app:operator_edit" operator.id %}">edit</a></td>
    <td><a href="{% url "app:operator_delete" operator.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "app:operator_create" %}">New</a>
{% endblock %}