{% extends 'app/base.html' %}
{% block content %}
<h1 xmlns:app="http://www.w3.org/1999/xhtml" xmlns:app="http://www.w3.org/1999/xhtml"
    xmlns:app="http://www.w3.org/1999/xhtml" xmlns:app="http://www.w3.org/1999/xhtml"
    xmlns:app="http://www.w3.org/1999/xhtml" xmlns:app="http://www.w3.org/1999/xhtml"
    xmlns:app="http://www.w3.org/1999/xhtml">Alle Mitarbeiter</h1>

<table class="table table-striped">
<thead>
    <tr>
    <th scope="col">Datum(geplant)</th>
    <th scope="col">Beschreibung</th>
    <th scope="col">Bauteil</th>
            <th scope="col">View</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
    </tr>
</thead>
<tbody>
    {% for planedmaintenance in object_list %}
    <tr>
    <td>{{ planedmaintenance.maindate }}</td>
    <td>{{ planedmaintenance.plmaindescription }}</td>
    <td>{{ planedmaintenance.component }}</td>
    <td><a href="{% url "app:planedmaintenance_detail" planedmaintenance.id %}">view</a></td>
    <td><a href="{% url "app:planedmaintenance_edit" planedmaintenance.id %}">edit</a></td>
    <td><a href="{% url "app:planedmaintenance_delete" planedmaintenance.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "app:planedmaintenance_create" %}">New</a>
{% endblock %}